@charset "utf-8";
/* CSS Document */
body {
    font-family: Verdana, Geneva, sans-serif;
    color: #222222;
    background-color: #FEFEFE;
    margin: 0px;
}
.correct {
    border: 2px solid #090;
}
.normal {
    border: 2px solid #eeeeec;
}
.bg {
    background-image: url("../images/background.png");
    background-repeat: repeat-x;
}
.feedback {
    position: fixed;
    left: -10px;
    top: 40%;
}
.twitter {
    position: fixed;
    left: -10px;
    top: 50%;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.3em;
    color: #121212;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    color: #222222;
}
.rules {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
    color: #222222;
}

#reset{
    cursor: pointer;
    text-align: center;
}