body,
td,
li,
label,
caption,
p,
div,
span,
button,
input,
a {
  font-family: 'Segoe UI', '微软雅黑', 'Microsoft JhengHei', Tahoma, Geneva, Verdana, sans-serif, "Segoe UI Symbol";
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
.ali-toys-minesweeper {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.ali-toys-minesweeper > table > tbody > tr > td {
  width: 40px;
  height: 40px;
  background-color: #1AC;
  margin: 1px;
  border: 1px solid #2BD;
  border-radius: 2px;
  text-align: center;
  min-height: 40px;
  cursor: pointer;
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
}
.ali-toys-minesweeper > table > tbody > tr > td:hover {
  background-color: #2BD;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t {
  background-color: #333;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
  cursor: default;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-1 {
  color: #6CF;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-2 {
  color: #6FC;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-3 {
  color: #FA6;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-4 {
  color: #F6C;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-5 {
  color: #F66;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-6 {
  color: #F33;
}
.ali-toys-minesweeper > table > tbody > tr > td.ali-state-active-t.ali-x-num-err {
  color: #F00;
}
.ali-container-actions {
  padding: 2px;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
